{% extends "bootstrap/base.html" %}
{% block title %}SpeakEasy{% endblock %}


{% block navbar %}
<div class="container">
  <nav class="navbar navbar-dark bg-primary navbar-fixed-top" style="background-color: #080957;"> 
  <img class="navbar-left center" src="{{url_for('.static', filename='nav_logo.png')}}">
  </nav>
</div>

{% endblock %}


{% block content %}
  <body onload="init()">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{url_for('.static', filename='video.png')}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button type="button" class="btn btn-success" onclick="startThreads()">START</button>
      <button type="button" class="btn btn-danger" onclick="stopThreads()">STOP</button>
    </div>
  </div>
  <img src="{{ url_for('video_stream') }}">

{% endblock %}


{% block scripts %}
<script>
  function startThreads() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            console.log(xhr.response);
        }
    }
    xhr.open('POST', 'http://localhost:5000/start');
    xhr.send();
  }
</script>
<script>
 function stopThreads() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            console.log(xhr.response);
        }
    }
    xhr.open('POST', 'http://localhost:5000/stop');
    xhr.send();
  }
</script>
<script>
 function init() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            console.log(xhr.response);
        }
    }
    xhr.open('POST', 'http://localhost:5000/init');
    xhr.send();
  }
</script>
{% endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='navbar.css')}}">
{% endblock %}