<!DOCTYPE html>
<html>
<title>SpeakEasy</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="static/js/application.js"></script>
<!-- <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css"> -->
<link rel="stylesheet" href="./static/css/ribbon.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<!-- Side Navigation -->
<!-- <nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Side Navigation</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
</nav> -->

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader" style="background-image: url(./static/img/bg2.png);">
  <div class="w3-row-padding w3-center w3-margin-top">
      <div class="w3-third">
          <div class="w3-card w3-container" style="min-height:340px">
          <h3></h3><br>
          <!--<img src="{{ url_for('video_stream') }}">-->
      </div>
<!--       <div class="w3-card w3-container" style="min-height:240px">
        <svg preserveAspectRatio="none" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>

                <mask id="mask">
                    <g id="maskGroup">
                  </g>
                </mask>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color:#cce6ff;stop-opacity:1" />
                    <stop offset="20%" style="stop-color:#a366ff;stop-opacity:1" />
                    <stop offset="90%" style="stop-color:#4da6ff;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#66ffff;stop-opacity:1" />
                </linearGradient>
            </defs>
            <rect x="0" y="-2" width="30%" height="30%" fill="url(#gradient)" mask="url(#mask)"></rect>
        </svg>

        <h1>In <a href="https://codepen.io/zapplebee/full/gbNbZE/">Full Page view</a>, please allow the use of your microphone</h1>
      </div> -->
  </div>
  <div class="w3-third">
    <div class="w3-center">
      <h4></h4>
      <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="startThreads()">START</button>

      <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="stopThreads()">STOP</button>
<!--       <div class="w3-card w3-container" style="min-height:240px">
        <svg preserveAspectRatio="none" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>

                <mask id="mask">
                    <g id="maskGroup">
                  </g>
                </mask>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color:#cce6ff;stop-opacity:1" />
                    <stop offset="20%" style="stop-color:#a366ff;stop-opacity:1" />
                    <stop offset="90%" style="stop-color:#4da6ff;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#66ffff;stop-opacity:1" />
                </linearGradient>
            </defs>
            <rect x="0" y="-2" width="30%" height="30%" fill="url(#gradient)" mask="url(#mask)"></rect>
        </svg>

        <h1>In <a href="https://codepen.io/zapplebee/full/gbNbZE/">Full Page view</a>, please allow the use of your microphone</h1>
      </div> -->
      <div class="w3-container" style="min-height:340px">
            <h3></h3><br>
            <h3></h3>
            <img src="./static/logo1.png" width="400" height="230"/><br>
          </div>
<!--       <a href="http://localhost:5000/summary" class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey">STOP</a>
 -->        <div class="w3-padding-32"></div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card w3-container" style="min-height:340px">
      <h4><p id="transcript"></p></h4><br>
      <img/>
    </div>
  </div>
</header>

<div class="w3-row-padding w3-center w3-margin-top"> 
  <!-- Movement Analysis -->
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:400px">
    <h3>Movement Analysis</h3><br>
<!--     <img src='./static/img/movement.png' width="175" height="125"/>
 -->    <div id="movement" style="width: 400px; height: 120px;" align="center"></div>
    <p>[put the slider here]</p>
  </div>
</div>

<!-- Crutch Words -->
  <div class="w3-third">
    <!-- <div class="w3-card w3-container" style="min-height:400px"> -->
      <h3>Crutch Words</h3><br>
<!--       <img src='./static/img/fillerwords.png' width="175" height="125"/>

 -->  
      <table align="center" border="1" cellspacing="0" width="400" height="175" style="color: black">
        <tr>
          <th><h4>Words</h4></th>
          <th><h4>Number of Times Said</h4></th> 
        </tr>
        <tr align="center">
<!--           <td><h4><p id="like"></p></h4></td> -->
          <td><h5>Like</h5></td>
          <td><h5>4</h5></td>
        </tr>
        <tr align="center">
          <td><h5>Basically</h5></td>
          <td><h5>2</h5></td>
        </tr>
        <tr align="center">
          <td><h5>Cuz</h5></td>
          <td><h5>1</h5></td>
        </tr>
       </table>    
     <!--  <p>[put the slider here]</p> -->
   <!--  </div> -->
  </div>

<!-- WPM -->
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:400px">
    <h3>Words Per Minute</h3><br>
<!--     <img src='./static/img/speed.png' width="175" height="125"/>

 -->
    <div id="wpm" style="width: 400px; height: 240px;" align="center"></div>
    <p>[put the slider here]</p>
  </div>
</div>
</div>

<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Movement', 80]
        ]);

        var options = {
          width: 800, height: 240,
          redFrom: 80, redTo: 100,
          yellowFrom:65, yellowTo: 80,
          minorTicks: 5, greenFrom:0, greenTo:65
        };

        var chart = new google.visualization.Gauge(document.getElementById('movement'));

        chart.draw(data, options);

        setInterval(function() {
           var req = new XMLHttpRequest();
           req.responseType = 'json';
           req.open('GET',"{{ url_for('get_movement') }}", true);
           req.onload  = function() {
           var jsonResponse = req.response;
           var movement = parseInt(jsonResponse['movement'])
           data.setValue(0, 1, movement);
           chart.draw(data, options);
              };
      req.send(null);
        }, 2000);
      }
    </script>

     <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['WPM', 80]
        ]);

        var options = {
          width: 800, height: 240,
          redFrom: 150, redTo: 170,
          yellowFrom:135, yellowTo: 150,
          greenFrom:70, greenTo:135,
          minorTicks: 5, max:170, min:70
        };

        var chart = new google.visualization.Gauge(document.getElementById('wpm'));

        chart.draw(data, options);

        setInterval(function() {
           var req = new XMLHttpRequest();
           req.responseType = 'json';
           req.open('GET',"{{ url_for('get_wpm') }}", true);
           req.onload  = function() {
           var jsonResponse = req.response;
           var wpm = parseInt(jsonResponse['wpm'])
           data.setValue(0, 1, wpm);
           chart.draw(data, options);
              };
      req.send(null);
        }, 400);
      }
    </script>


<script>
function startThreads() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            console.log(xhr.response);
        }
    }
    xhr.open('POST', 'http://localhost:5000/start');
    xhr.send();
}
</script>

<script>
  var myVar = setInterval(getTranscript, 500);
  var myVar = setInterval(getCrutch, 500);

  function getTranscript() {
    var req = new XMLHttpRequest();
    req.responseType = 'json';
    req.open('GET',"{{ url_for('get_transcript') }}", true);
    req.onload  = function() {
       var jsonResponse = req.response;
       var transcript = jsonResponse['transcript']
       document.getElementById("transcript").innerHTML = transcript;

       // do something with jsonResponse
    };
    req.send(null);
  }
  function getCrutch() {
    var req = new XMLHttpRequest();
    req.responseType = 'json';
    req.open('GET',"{{ url_for('get_crutch') }}", true);
    req.onload  = function() {
       var jsonResponse = req.response;
       var crutch = jsonResponse['crutch']
       var like = jsonResponse['like']
       document.getElementById("like").innerHTML = like;

       // do something with jsonResponse
    };
    req.send(null);
  }
</script>
</body>
</html>
